/* EML: Change hyperlink for accessibility at AAA level
#019fcb becomes #264BBA
For contrast, base oSTEM Footer is #e6e6e6, MN Footer is #eee
*/

/* Fix unvisited link color */
a:link {
    color: #0000F5;
    text-decoration: underline;
}

/* Underline on Hover */
a:hover, a:focus {
    color: #222;
    text-decoration: underline;
}

/* Make linked list items inherit formatting from link */
li {
    color:inherit;
}

/* Logout Button regular */
.logout-link a:active, .logout-link a:link {
    color: #222;
    text-decoration: none;
}

/* Logout Button on hover */
.logout-link a:hover, .logout-link a:focus {
    color: #0000F5;
    text-decoration: none;
}

/* Cookies Pop-Up */
.cc-btn {
    background-color: #0000F5;
    border-color: #0000F5;
}

.cc-btn:hover {
    color: #0000F5;
    background-color: transparent;
    border-color: #0000F5;
}

/* Underline and gray "Learn more" in compliance window on hover */
.cc-window a:hover {
    color: #222;
    text-decoration: underline;
}

/* Join oSTEM Button */
.navbar .navbar-nav>li>.menu-item-primary,
.navbar .navbar-nav>li>.menu-item-primary:link {
    color:#fff;
    background-color: #0000F5;
    border-color: #0000F5;
}

/* Join oSTEM Button hover (inverse) */
.navbar .navbar-nav>li>.menu-item-primary:hover,
.navbar .navbar-nav>li>.menu-item-primary:focus,
.navbar .navbar-nav>li>.menu-item-primary.focus,
.navbar .navbar-nav>li>.menu-item-primary:active,
.navbar .navbar-nav>li>.menu-item-primary.active,
.open>.dropdown-toggle.navbar .navbar-nav>li>.menu-item-primary{
    color: #0000F5;
    background-color: transparent;
    border-color: #0000F5;
}

/* Donate Button */
.navbar .navbar-nav>li>.menu-item-secondary,
.navbar .navbar-nav>li>.menu-item-secondary:link {
/*    background-color: #fff; */
    color: #0000F5;
    background-color: transparent;
    border-color: #0000F5;
}

/* Donate Button hover (inverse) */
.navbar .navbar-nav>li>.menu-item-secondary:hover,
.navbar .navbar-nav>li>.menu-item-secondary:focus,
.navbar .navbar-nav>li>.menu-item-secondary.focus,
.navbar .navbar-nav>li>.menu-item-secondary:active,
.navbar .navbar-nav>li>.menu-item-secondary.active,
.open>.dropdown-toggle.navbar .navbar-nav>li>.menu-item-secondary{
    color: #fff;
    background-color: #0000F5;
    border-color: #0000F5;
}

/* Fix navbar static color (don't underline before hover...) */
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:link {
    color: #222;
    text-decoration: none;
}

/* Fix dropdown color */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0000F5;
}

/* Remove added underline from dropdown navbar links */
.navbar-nav .dropdown-menu>li a, .navbar-nav .dropdown-menu>li span {
    text-decoration: none;
}

/* Remove typical footer links */
.system-footer a:link, .system-footer a:active{
    text-decoration: none;
}

.website-footer a:link, .website-footer a:active{
    text-decoration: none;
}

/* Footer links on hover */
.system-footer a:hover,.system-footer a:focus {
    color: #424242;
    text-decoration: underline;
}

/* Oof, fix-button-hover.css is basically just this... */
.carousel-caption .btn-primary:hover {
    background: #0000F5;
    color: white;
    border-color: #0000F5;
}

/* Set navbar hamburger border and bkgd color */
.navbar-default .navbar-toggle {
    border-color: #0000F5;
    background-color: #0000F5;
}

/* Set hamburger lines on hover/active */
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #0000F5;
    border-color: #0000F5;
}

/* Change selection (right click) text color */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #0000F5;
}

::selection {
  color: white;
  background: #0000F5;
}

/* Change Scroll Up button color */
.go-to-top:hover .go-to-top-block,
.go-to-top:focus .go-to-top-block{
    background-color:rgba(0, 0, 245, 0.6);
}
.go-to-top:active .go-to-top-block{
    background-color:rgba(0, 0, 245, 0.8);
}
.go-to-top .go-to-top-block{
    background-color:rgba(0, 0, 245, 0.3);
}

/* Change Code contrast */
code {
    color: #8A1935;
}
